# ========================
# Node / React
# ========================
node_modules/
build/
dist/
.env
.env.local

# ========================
# Python / FastAPI
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# ========================
# Logs
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Misc
# ========================
*.log